<header>
<nav>
<ul>
<li><%= link_to 'Home', :home %> </li>
<li><%= link_to 'About', :about %> </li>
<li><%= link_to '12 - Lizards', lizards_path(number: 12) %> </li>
<li><%= link_to '44 - Lizards', lizards_path(number: 444) %> </li>
<li><%= link_to '9672 - Lizards', lizards_path(number: 9672) %> </li>
<li><%= link_to 'HIMYM Quotes', :HIMYMs %> </li>
</nav>
</header>
